@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

/* All */
*{
  padding: 0;
}
/* All */
/* Images and Body */
img {
  width: 35vw;
  /* margin-left: 55%;
  margin-right: 15%; */
  border-style: solid;
    border-color: #8C8B8B;
    border-width: 10px;
    text-align: center;
}
p {font-size: 45px;
font-family: 'PT Serif', serif;
  color: black;
  background-color: #EAC49C;
  border-color: #888987;
  border-style: ridge;
  border-radius: 2px;
}
body {background-color: #F5D0A9
}

.flexdisplay{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.left{
  order: -1;
}

.right{
  order: 2;
}

/* Images and Body */


/* Line Items */
ul {
  display:flex ;
flex-direction: column;
justify-content: center;
align-items: stretch ;
font-family: 'PT Serif', serif;
background-color: #888987;
list-style-type: none; margin: 0; padding: 0;
border-style: solid;
border-color: black;
}

a{display: block;
text-align: left;
border-style: solid;
}



li a{
  color:  black;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 40px;
  text-shadow: #e0e0e0 1px 1px 0;

}

  li a:hover {
    background-color: #2e2e2e;
    color: black;
  }

/* Line Items */

/* Heading Items */
  h1 {font-size: 70px;
  font-family: 'Cormorant Garamond', serif;
  display: block;
  background-color: #8C8B8B;
  text-shadow: #e0e0e0 1px 1px 0;
  }

h2 {
  display: block;
  background-color: #8C8B8B;
  font-size: 50px;
font-family: 'Cormorant Garamond', serif;
text-shadow: #e0e0e0 1px 1px 0;
}
h3 {
  font-size: 60px;
font-family: 'Cormorant Garamond', serif;
text-shadow: #e0e0e0 1px 1px 0;
}
/* Heading Items */

/* Screen reader */

.sr-only {
  text-indent: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* Screen reader */

/* .tester{
  background: #8C8B8B;
background: -moz-linear-gradient(left, #8C8B8B 0%, rgba(186,185,185,.1) 100%);
background: -webkit-linear-gradient(left, #8C8B8B 0%, rgba(186,185,185,.1) 100%);
background: linear-gradient(to right, #8C8B8B 0%, rgba(186,185,185,.1) 100%);
}

.tester p{
background: rgba(234,196,156, .4);
}

.tester > * {
  padding: 10px;
} */
